services:
  postgres:
    image: postgres:15-alpine
    container_name: school-postgres-prod
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_prod_data:/var/lib/postgresql/data
    networks:
      - school-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    image: ghcr.io/l3miage-diabyfa/projet-annuel-s4-backend:latest
    container_name: school-backend-prod
    restart: always
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?schema=public
      NODE_ENV: production
      JWT_SECRET: ${JWT_SECRET}
      FRONTEND_URL: ${FRONTEND_URL}
    ports:
      - "3000:3000"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - school-network

  frontend:
    image: ghcr.io/l3miage-diabyfa/projet-annuel-s4-frontend:latest
    container_name: school-frontend-prod
    restart: always
    environment:
      NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
      NEXT_PUBLIC_GA_ID: ${NEXT_PUBLIC_GA_ID}
      NODE_ENV: production
    ports:
      - "3001:3000"
    depends_on:
      - backend
    networks:
      - school-network

volumes:
  postgres_prod_data:

networks:
  school-network:
    driver: bridge